<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email</title>

    <style>
      p 
      {
        font-family: 'Helvetica', sans-serif;
      }

      img 
      {
        border-radius: 10px;
        max-width: 100%;
        height: min-content;
      }
    </style>

  </head>
  <body>
    <img src="cid:unique@nodemailer.com" alt="OPTICA STUDENT BRANCH" />
    <i><h1>{{title}} &#128640;</h1></i>

    <p>Hello Viewers,
       <br>
        <br>
        The JIIT Optica Student Branch would serve as a platform for students interested in optics and photonics to come together, share knowledge, and engage in activities related to the field. <br><br>
        The primary purpose could include fostering academic and professional development, organizing events, and promoting collaboration among students.
        <br><br>
        The student branch may organize a variety of activities and events, such as seminars, workshops, and guest lectures, featuring experts and professionals in the field of optics.
        These events aim to enhance the members' understanding of optics, provide networking opportunities, and expose them to the latest developments in the industry.
        <br><br>
        Thank you for reading.
    </p>
  </body>
</html>